@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

.attribution { 
    font-size: 11px; text-align: center; }
    
.attribution a { 
    color: hsl(228, 45%, 44%); }

ul{
    list-style: none;
}


.navbar-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 20px;
}

.navbar-nav-left{
    /* flex: 1; */
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}

.navbar ul{
    display: flex;
    align-items: center;   
}

.navbar li{
    margin: 0 15px;
    font-weight: bold;
    
}
