@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

body{
    list-style: none;
}


.attribution { 
    font-size: 11px; text-align: center; }
    
.attribution a { 
    color: hsl(228, 45%, 44%); }


.navbar-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 20px;
}

.navbar-nav-left{
    /* flex: 1; */
    margin-left: 20px;
}

.navbar ul{
    display: flex;
    align-items: center;
    list-style: none;

}
